{% extends "layout.html" %}

{% block title %}
About Me
{% endblock %}

{% block body %}
<h1 style="text-align: center;">About Me</h1>
<div class="container-row">
    <div class="row">
        <div class="col-sm-12" >
            <p>
                My name is Thomas Zaussnig and that's my selfmade portfolio page. In my 
                spear time I like to do many kind of things e.g. Sport, learn how to code and 
                a little bit of photography.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Career</div>
        <div class="col-sm-8">
            <p>
                I started my career in IT as a IT technican apprentice 18 years ago. After 
                military service I worked as a customer call center agent. Have a year later 
                I got a position as IT system administrator which I run for 11 years. In that
                time I got several IT certificates (Microsft, Cisco) and I also attended the
                HTL evening school to make my engineering degree in Electronics and technical
                informatic.
            </p>
            <p>
                In January 2019 I quite my job and joined Infineon Austria as a System Engineer 
                for Windows client support.  At the moment I work since November 2020 as Software 
                Packager for the SCCM team.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><p>Reach me</p></div>
        <div class="col-sm-8">
            <a href="https://www.instagram.com/tsonga_64/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://twitter.com/ThomasZaussnig" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/in/thomas-zau%C3%9Fnig-76285a137/" target="_blank" class="fa fa-linkedin"></a>
            <a href="https://github.com/razordb9" target="_blank" class="fa fa-github"></a>

        </div>
    </div>
</div>
{% endblock %}