{% extends "layout.html" %}

{% block title %}
About Me
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>About Me</h1>
    </div>
</div>
<div class="container-row">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ url_for('static', filename='pictures/me.jpg') }}" alt="Portrait" style="width:300px;height:300px;"">
        </div>
        <div class="col-sm-8" >
            <p>
                My name is Thomas Zaussnig and that's my selfmade portfolio page. In my 
                spear time I like to do many kind of things e.g. Sport, learn how to code and 
                a little bit of photography.
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">About my career</div>
        <div class="col-sm-8">
            <p>
                <ul>
                    <li>2003.09-2007.03 Stadtwerke Klagenfurt AG</li>
                    <li>2007.04-2007.10 Austrian military service</li>
                    <li>2007.11-2008.04 Telekom Austria AG</li>
                    <li>2008.05-2019.01 FunderMax GmbH</li>
                    <li>2019.01-now Infineon IT Services GmbH</li>
                </ul>
                I started my career in IT as a IT technican apprentice 18 years ago. After 
                military service I worked as a customer call center agent. Half a year later 
                I got a position as IT system administrator which I run for 11 years. In this
                time I worked on several big project in my company which I was responsible for.
                During that time I also decided to attend the HTL Moessingerstraße for 4 years 
                to do the Matura which is the same as a High School Diploma.
            </p>
            <p>
                In January 2019 I quite my job and joined Infineon Austria as a System Engineer 
                for Windows client support.  At the moment I work since November 2020 as Software 
                Packager for the SCCM team.
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">Projects I've been working on</div>
        <div class="col-sm-8">
            <p>
                <ul>
                    <li>Windows Client migrations(Win 98, 2000 to Win7, Win7 to Win10)</li>
                    <li>Windows Server migrations(Win2000 to Win2003, Win2003 to Win2008, Win2008 to Win2012)</li>
                    <li>Several Active Directory migrations</li>
                    <li>Implementing Microsoft System Center 2007 and 2012</li>
                    <li>Building several abroad office sites(France, India, Spain, Swiss)</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}