
    {% extends "layout.html" %}
   
    {% block body %}
    
    <div class="container">
        <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.title.label }}</br>
                    {{ form.title }}
                    {% for error in form.title.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.description.label }}</br>
                    {{ form.description }}
                    {% for error in form.description.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> 
                    {{ form.submit() }}
                </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}