{% extends "layout.html" %}

{% block title %}
My work items
{% endblock %}

{% block body %}
    <h3>Blog editor</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Blog ID</th>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
                <th scope="col">Visible</th>
                <th scope="col">Update entry</th>
                <th scope="col">Remove entry</th>
            </tr>
            </thead>
            <tbody>
                <form action="/updateblogentry" method="post"> 
                    <td><input type="text" id="blog_id" name="blog_id" placeholder="Blog ID" value={{ blog.blog_id }} readonly></td>
                    <td><input type="text" id="title" name="title" placeholder="Title" value={{ blog.title }}></td>
                    <td><textarea type="text" id="text" name="text" placeholder="Text" rows="4" cols="50">{{ blog.text }}</textarea></td>
                    <td><input type="text" id="text" name="text" placeholder="Text" value={{ blog.visibility }}></td>
                    <td><button type="submit">Update</button></td>
                </form>
                <td>
                    <form action="/removeblogentry" method="POST">
                        <input type="hidden" name="blog_id" value="{{blog['blog_id']}}">
                        <button>Remove</button>
                    </form>
                </td>    
            </tbody>
        </table>
       <form action="{{url_for('blogentries')}}">
        <button>Back</button>
    </form>
    </div>
{% endblock %}