{% extends "layout.html" %}

{% block title %}
My Portfolio
{% endblock %}


{% block body %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Welcome to my Portfolio.</h1>
    </div>
</div>
<div class="container-fluid bg-3">  
    
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <h1>My latest blogpost</h1>  
        {% for data in blogData %}

            {% if data.visibility == true %}
                <h2>{{ data.title }}</h2>
                <h5><span class="glyphicon glyphicon-time"></span> Post by Thomas Zaussnig, Feb 03, 2021.</h5>
                <h5><span class="label label-danger">#webdevelompent</span> <span class="label label-primary">#createsomethingfun</span></h5><br>
                <p class="blog-text">
                    {{ data.text }}
                </p>
                <br>
                <hr>
            {% endif %}

        {% endfor %}
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="container-fluid bg-3">    
    <h3>Some of my Work</h3><br>
    {% for data in workData %}
        {% if loop.index0 % 3 == 0 %}  
            <div class="row">
        {% endif %}
                <div class="col-sm-4">
                    <p>index is {{ loop.index }}</p>
                    <img src="https://placehold.it/150x80?text=IMAGE" class="img-thumbnail" style="width:100%" alt="Image">
                    <p>{{ data.title }}</p>
                    <p>{{ data.description }}</p>
                </div> 
        {% if loop.index0 % 3 == 2 or loop.last %}    
            </div>
            <br>
        {% endif %}
        
    {% endfor %}
</div><br>


{% endblock %}

