<!DOCTYPE html>
<html lang="en">   
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% include "includes/nav.html" %}

        

        {% with messages = get_flashed_messages(with_categories=True)%}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if session['username'] %}
            <a href="{{ url_for('user_settings') }}"><span class="user"></span>Welcome, {{ session['username'] }}</a></li>
        {% endif %}
        {% block body %}
        {% endblock %}

        {% include "includes/footer.html" %}
    </body>

</html>