{% extends "layout.html" %}

{% block title %}
My work items
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Work ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Update changes</th>
            <th scope="col">Remove item</th>
        </tr>
        </thead>
        <tbody>
            <form action="/updatemyworkitem" method="post"> 
                <td><input type="text" id="work_id" name="work_id" placeholder="Work ID" value={{ work.work_id }} readonly></td>
                <td><input type="text" id="title" name="title" placeholder="Title" value={{ work.title }}></td>
                <td><input type="text" id="description" name="description" placeholder="Description" value={{ work.description }}></td>
                <td><button type="submit">Update</button></td>
            </form>
            <td>
                <form action="/removemyworkitem" method="POST">
                    <input type="hidden" name="work_id" value="{{work['work_id']}}">
                    <button>Remove</button>
                </form>
            </td>            
        </tbody>
    </table>
    <form action="{{url_for('mywork')}}">
        <button>Back</button>
    </form>
    
{% endblock %}