{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Permission</th>
        </tr>
        </thead>
        <tbody>
            <td scope='row'>{{ data.user_id }}</td>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.permission }}</td>
        </tbody>
    </table>
{% endblock %}