{% extends "layout.html" %}

{% block title %}
User settings
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Permission</th>
            <th scope="col">Update changes</th>
            <th scope="col">Remove User</th>
        </tr>
        </thead>
        <tbody>
            <form action="/updateuser" method="post"> 
                <td><input type="text" id="user_id" name="user_id" placeholder="User ID" value={{ data.user_id }} readonly></td>
                <td><input type="text" id="fname" name="fname" placeholder="First Name" value={{ data.first_name }}></td>
                <td><input type="text" id="lname" name="lname" placeholder="Last Name" value={{ data.last_name }}></td>
                <td><input type="text" id="email" name="email" placeholder="Email" value={{ data.email }} size=40></td>
                <td><input type="text" id="permission" name="permission" placeholder="Permission" value={{ data.permission }} readonly></td>
                <td><button type="submit">Update</button></td>
            </form>
            <td>
                <form action="/remove" method="POST">
                    <input type="hidden" name="user_id" value="{{data['user_id']}}">
                    <button>Remove</button>
                </form>
            </td>            
        </tbody>
    </table>
    <form action="{{url_for('adminpage')}}">
        <button>Back</button>
    </form>
    
{% endblock %}