{% extends "Adminpage/layout.html" %}

{% block title %}
Admin Page
{% endblock %}

{% block body %}
<h3>Adminpage for users</h3>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <!--<th scope="col">Password</th>-->
            <th scope="col">Permission</th>
            <th scope="col">Change setting</th>
        </tr>
        </thead>
        <tbody>

        <!-- Construct the rest of courses here -->
        {% for data in userData %}
        <tr>
            <td scope='row'>{{ data.user_id }}</td>
            <td>{{ data.first_name }}</td>
            <td>{{ data.last_name }}</td>
            <td>{{ data.email }}</td>
            <!--<td>{{ data.password }}</td>-->
            <td>{{ data.permission }}</td>
            <td>
                <form action="{{url_for('user_settings')}}" method="POST">
                    <input type="hidden" name="user_id" value="{{data['user_id']}}">
                    <input type="hidden" name="first_name" value="{{data['first_name']}}">
                    <input type="hidden" name="last_name" value="{{data['last_name']}}">
                    <input type="hidden" name="email" value="{{data['email']}}">
                    <input type="hidden" name="permission" value="{{data['permission']}}">
                    <button>Change</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{{url_for('register')}}">
        <button>Add new user</button>
    </form>
</div>  
{% endblock %}