/* git token 1ed8733ebe1e89c4ed83bd1d1f02523b4ac546fd */
/*
    .class = select all elements with class="class"
    #id = select the element with id="id"
*/
.blog-text {
    text-align: justify;
}
#main-footer {
    text-align: center;
    height: 30px;
    background-color: #eee;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
/*#footer {
    width: 100%;
    height: 80px;
    position:absolute;
    bottom: 0;

}*/
#content {
    padding-bottom: 100px;
}

.row {
    margin:0;
}

/*.col-sm-4 {
    border-style: solid;
    border-color: darkgray;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
}*/
.col-sm-4 p {
    text-align: center;
}

.user {
    color: white;
    float: right;
    position: absolute;
    font-size: 25px;
    right: 10em;
    top: 2em;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
