/* git token 1ed8733ebe1e89c4ed83bd1d1f02523b4ac546fd */
/*
    .class = select all elements with class="class"
    #id = select the element with id="id"

*/
#wrapper {
    min-height: 100%;
    position: relative;
}
#footer {
    width: 100%;
    height: 80px;
    position:absolute;
    bottom: 0;

}
#content {
    padding-bottom: 100px;
}

.navbar {
    border-radius: 0;
}

.row {
    margin:0;
}

#workItems {
    border-style: solid;
    border-color: darkgray;
    margin: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
#workItems p {
    text-align: center;
}

.user {
    color: white;
    float: right;
    position: absolute;
    font-size: 25px;
    right: 10em;
    top: 2em;
}