<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Portfolio</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{%if blog %}active{% endif %}"><a href="{{ url_for('myblog') }}" class="nav-link active">Blog</a></li>
        </ul>  
        <ul class="nav navbar-nav">
            <li class="{%if about %}active{% endif %}"><a href="{{ url_for('about') }}" class="nav-link active">About</a></li>
        </ul>
    </div>
</nav>